
.profilebox{

    margin-inline: 400px;
    padding: 13px;
    border-radius: 20px;   
    background-color: white;

}

h1, h2{
    color: white;
    text-align: center;
}

input[type="button"]{
    display: flex;
    margin: 50px auto;
    width: 250px;
    height: 70px;
   border-radius: 30px;
   border: 0px;
   background-color: #ffffff;
   color: rgb(0, 0, 0);
    font-size: large;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="submit"]{
    display: flex;
    margin: 50px auto;
    width: 250px;
    height: 70px;
   border-radius: 30px;
   border: 0px;
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   font-size: large;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

input[type="text"]{
    display: flex;
    margin: 20px auto;
    width: 300px;
    height: 60px;
    border-radius: 14px;
}

input[type="number"]{
    display: flex;
    margin: 20px auto;
    width: 300px;
    height: 60px;
    border-radius: 14px;
}

div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: entrance 1s ease-out;
}


@keyframes entrance{

    from{ 
        opacity: 0%;
        transform: translateY(-100px);
        }

    to{ 
        opacity: 100%;
        transform: translateY(0px);}

}