<div style="margin: 200px;">
            <h1 *ngIf="active"> Bem Vindo(a) ao criador de perfil!</h1>
            <h2 *ngIf="active"> Aperte no botão para iniciar!</h2>
        </div>


        <form [formGroup]="form" (ngSubmit)="gerar()">
            <input *ngIf="active" (click)="agir()" type="button" value="INICIAR">
            <div *ngIf="!generating" style="margin: 200px auto;">
                <input *ngIf="!active" type="text" placeholder="NOME DE USUÁRIO" formControlName="nome">
                <input *ngIf="!active" type="number" placeholder="IDADE" formControlName="idade">
                <input *ngIf="!active" type="text" placeholder="ESPECIALIDADE" formControlName="especialidade">
                <input *ngIf="!active" type="submit" value="CONCLUIR">
                <h2>{{erro}}</h2>
            </div>

        
            <div *ngIf="generating">
                <h2>Seu perfil:</h2>
                <div  class="profilebox">
                    <h1 style="color: black;">Olá, sou {{form.get('nome')?.value}}! Tenho {{form.get('idade')?.value}} anos, e estou me especializando como {{form.get('especialidade')?.value}}! 
                    </h1>
                </div>
            </div>

        </form>
